#footer a {
    color: #929292;
    text-decoration: none;
    font-size: 25px;
}

#footer :hover .text-footer{
    transform: scale(1.2);
}

.text-footer{
    transition: 1s;
}

#footer{
    padding: 10px;
}