/**/
.project-imageContainer{
    width: 300px;
    /* width: 50%; */
  }
  
  /*PARA IMAGENES RESPONSIVAS, RESPECTO AL CONTENEDOR PADRE*/
  .project-imageContainer img{
    max-width: 10%;
  }
  
  .project-imageContainer{
    width: auto;
    text-align: center;
  }