<app-cabecera></app-cabecera>
<app-menu></app-menu>

    <div class="container-fluid">
        <div class="row justify-content-end">
            <div class="col-auto">
                <button type="button" class="btn btn-primary btn-lg btn-block button-new-post">New Post</button>
            </div>
        </div>
    </div>

    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Title</th>
            <th scope="col">Information</th>
            <th scope="col">Actions</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem veritatis amet saepe minima? Cumque qui autem perspiciatis numquam ad dignissimos provident voluptatum fugit facilis animi, quidem repellat eos inventore architecto.</td>
            <td><button type="button" class="btn btn-danger">Delete</button></td>
            <td><button type="button" class="btn btn-success">Edit</button></td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Mark</td>
            <td>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quam beatae pariatur sed neque quasi optio ducimus corrupti deleniti repellendus placeat maxime, maiores vitae iure deserunt omnis? At accusantium commodi minus?</td>
            <td><button type="button" class="btn btn-danger">Delete</button></td>
            <td><button type="button" class="btn btn-success">Edit</button></td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Mark</td>
            <td>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ratione quis assumenda perferendis esse modi facere veniam! Saepe ab praesentium itaque maiores fugit quos aspernatur, aliquid eveniet, totam, hic et vitae.</td>
            <td><button type="button" class="btn btn-danger">Delete</button></td>
            <td><button type="button" class="btn btn-success">Edit</button></td>
          </tr>
        </tbody>
      </table>
    <!-- <div class="container text-center col 12">
        <button type="button" class="btn btn-primary btn-lg btn-block col-8">New Post</button>
    </div> -->

<app-footer></app-footer>