<div class="modal-dialog text-center">
    <div class="col-sm-12">
        <div class="modal-content">
            <form class="col-12">
                <div class="form-group">
                    <input type="text" [(ngModel)]="id" name="value-email" class="form-control" 
                    placeholder="ID">
                </div>
                <div class="form-group">
                    <input type="password" [(ngModel)]="phone" name="value-phone" class="form-control" 
                    placeholder="phone">
                </div>
                <button (click)="login()" 
                type="submit" class="btn btn-primary" 
                [routerLink]="['/profile/', id]">Login
                </button>
            </form>
        </div>
    </div>
</div>